.hide{
    display: none !important;
}

.hover:hover{
    cursor: pointer;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#23BF08;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:25px;
}

.modal-dialog {
    width: 1000px;
  }
